.footer {
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.cohete {
  color: rgba(255, 0, 0, 0.952);
}
.footertexto {
  color: rgba(0, 0, 0, 0.486);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: center;
}
@media screen and (max-width: 450px) {
  .footer {
    background-color: transparent;
    font-size: medium;
    flex-direction: column;
  }
  .footertexto {
    width: 60%;
    text-align: center;
  }
}
