.Canvas {
  width: 80%;
  height: 100%;
}
.CanvasContenedor {
  background-color: #3b44f6;
  width: 100%;
}
.cuerpoCanvas {
  background-color: rgb(0, 0, 0);
  color: white;
  margin-bottom: 60%;
}
.canvasTitle {
  height: 50px;
}
.imagenCanvas {
  width: 20%;
  text-align: center;
}
.contenedorNombrePrecio {
  background-color: transparent;
  width: 60%;
  height: 100px;
  text-align: center;
  margin-left: 10%;
}
.Cantidades {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.h6 {
  background-color: transparent;
  margin-bottom: 20%;
}
.ContenedorCanvasRepuesto {
  background-color: transparent;
  margin-top: 5px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.carrito {
  width: 40px;
  height: auto;
  margin-top: -45px;
  will-change: filter;
  transition: filter 300ms;
}
.carrito:hover {
  filter: drop-shadow(0 0 2em #646cff);
}
.contenedorCantidad {
  /* align-items: center; */
  width: 50px;
  height: 60px;
  border-radius: 10px;
  color: white;
  background-color: transparent;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: bold;
}
.parrafoCantidadCanvas {
  background-color: rgb(55, 55, 55);
  border-radius: 10px;
  width: 40%;
  margin-top: -10px;
  font-size: medium;
  text-align: center;
  position: relative;
  float: right;
}
.parrafoCantidad {
  background-color: rgb(55, 55, 55);
  border-radius: 10px;
  width: 40%;
  margin-top: 0px;
  font-size: medium;
  text-align: center;
  position: relative;
  float: right;
}
.boton {
  background-color: transparent;
  border: none;
}
.boton:active {
  background-color: white;
}
.boton:hover {
  background-color: transparent;
}
.boton:visited {
  background-color: transparent;
}
.ContenedorValores {
  background-color: white;
  position: absolute;
  bottom: 0%;
  width: 90%;
}
.ContenedorValor {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background-color: transparent;
  color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.botonCompra {
  background-color: white;
  width: 100%;
  height: 50px;
  border-radius: 10px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: larger;
}
.botonCompra:hover {
  background-color: #646cff;
}
