.contenedorCarusel {
  margin-top: 2%;
  border-radius: 10%;
}
.d-block {
  border-radius: 10px;
  opacity: 1;
}
.parrafos {
  color: black;
}
.tituloVW {
  color: black;
}
h3 {
  font-size: xx-large !important;
}
@media screen and (max-width: 450px) {
  .parrafos {
    display: none;
  }
  p {
    display: none;
  }
}
