.contenedorCarusel {
  margin-top: 2%;
  border-radius: 10%;
  width: 100%;
}
.d-block {
  border-radius: 10px;
  opacity: 1;
}
.parrafos {
  color: black;
}
.tituloVW {
  color: black;
}
@media screen and (max-width: 450px) {
  .parrafos {
    display: none;
  }
  p {
    display: none;
  }

  .tituloVW {
    font-size: small;
    color: white;
  }
  .tittlePeugeot {
    font-size: small;
  }
  .tittleFiat {
    font-size: small;
  }
}
