.Contenedorcard {
  background-color: transparent;
  width: 28rem;
  height: auto;
  margin: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: left;
}
.contenedorSubCard {
  width: 95%;
  background-color: transparent;
  display: flex;
  flex-direction: row;
}

.bodyCard {
  width: 50%;
  background-color: rgba(135, 144, 144, 0.264);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}
.imagenRep {
  width: 35%;
  height: 280px;
  margin: auto 0;
  box-shadow: 2px 1px 5px black;
  border-radius: 5px;
}
.imagenRep:hover {
  transform: scale(1.1);
  transition: 1s;
}
.imagenRep::after {
  transform: scale(1.1);
  transition: 1s;
}
.texto {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-transform: capitalize;
  color: rgba(0, 0, 0, 0.476);
  margin-top: 0%;
}
.botones {
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  height: 20%;
  margin: 1%;
}
.ContenedorCarrito {
  width: 20%;
  height: 90%;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  float: left;
}
.whatsapp {
  width: 50px;
  height: auto;
}
.link {
  width: 50px;
  height: auto;
  text-decoration: none;
  background-color: transparent;
  align-items: center;
}
.titulo {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-transform: capitalize;
  color: rgba(0, 0, 0, 0.476);
}
.subtitulo {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-transform: capitalize;
  color: rgba(0, 0, 0, 0.476);
}
@media screen and (max-width: 450px) {
  .Contenedorcard {
    width: 100%;
  }
  .contenedorSubCard {
    width: 100%;
  }
}
/* */
