.contenedorWhatsApp {
  background-color: transparent;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  position: sticky;
  bottom: 1%;
}
.WhatsApp {
  color: rgb(153, 255, 0);
  width: 100px;
  height: 50px;
  margin-right: 2%;
}
.link {
  display: flex;
  width: 50px;
  height: 50px;
  margin-right: 2%;
}
.parrafosWHS {
  color: white;
  background-color: rgba(0, 0, 0, 0.692);
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-right: 2%;
}
@media screen and (max-width: 450px) {
  .WhatsApp {
    width: 100%;
  }
  .link {
    width: 60px;
    height: 50px;
    margin-right: 2%;
  }
}
