.foot {
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 55%;
  height: 5%;
}

.next {
  margin: 0%;
  background-color: rgba(1, 2, 2, 0.773);
  width: 20%;
  height: 40px;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  color: aliceblue;
  font-size: 20px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.next:hover {
  background-color: rgba(0, 21, 255, 0.841);
}
.next:disabled {
  background-color: rgba(1, 1, 1, 0.411);
  color: rgba(255, 255, 255, 0.5);
  cursor: not-allowed;
}
.numPages {
  margin: 5%;
  color: black;
  text-transform: uppercase;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 20px;
}
@media screen and (max-width: 450px) {
  .foot {
    background-color: transparent;
    width: 100%;
    height: auto;
  }
  .next {
    font-size: small;
    width: 80%;
    height: auto;
  }
  .numPages {
    width: 100%;
    font-size: medium;
  }
}
