.CarruselMarcas {
  width: 40%;
  margin: 0 auto;
  margin-top: 5%;
}
.d-block {
  margin: 0 auto;
  width: 80%;
  height: auto;
}
@media screen and (max-width: 450px) {
  .CarruselMarcas {
    width: 80%;
    height: auto;
  }
  .d-block {
    width: 90%;
    height: auto;
  }
}
