.contenedorDelNav {
  position: sticky;
  top: 0;
  z-index: 100;
}
.container {
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contenedorPro {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  width: 50%;
}

.logocer {
  width: 20%;
  height: auto;
  margin: 0 auto;
  margin-left: 0%;
  margin-right: 30%;
  will-change: filter;
  transition: filter 300ms;
}
.logocer:hover {
  filter: drop-shadow(0 0 2em #646cff);
}

.contenedorLogos {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: auto;
}
.logovw {
  width: 60%;
  height: auto;
  margin: 0 auto;

  will-change: filter;
  transition: filter 300ms;
}
.logovw:hover {
  filter: drop-shadow(0 0 2em #646cff);
}
@keyframes logovw-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.logofiat {
  width: 80%;
  height: auto;
  margin: 0 auto;

  will-change: filter;
  transition: filter 300ms;
}
.logofiat:hover {
  filter: drop-shadow(0 0 2em #646cff);
}

.logoPeugeot {
  width: 80%;
  height: auto;
  margin: 0 auto;

  will-change: filter;
  transition: filter 300ms;
}
.logoPeugeot:hover {
  filter: drop-shadow(0 0 2em #646cff);
}

.logoCitroen {
  width: 100%;
  height: auto;
  margin-left: 8px;
  will-change: filter;
  transition: filter 300ms;
}
.logoCitroen:hover {
  filter: drop-shadow(0 0 2em #646cff);
}

.logomb {
  width: 40%;
  height: auto;
  will-change: filter;
  transition: filter 300ms;
  margin-left: 25px;
}
.logomb:hover {
  filter: drop-shadow(0 0 2em #646cff);
}

.logorenault {
  width: 140%;
  margin-left: -20px;
  height: auto;
  will-change: filter;
  transition: filter 300ms;
}
.logorenault:hover {
  filter: drop-shadow(0 0 2em #646cff);
}

.carrito {
  width: 40px;

  height: auto;
  will-change: filter;
  transition: filter 300ms;
}
.carrito:hover {
  filter: drop-shadow(0 0 2em #646cff);
}

@media screen and (max-width: 450px) {
  .contenedorDelNav {
    background-color: red;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 10;
  }
  .contenedorPro {
    flex-direction: column;
    width: 100%;
  }
  .logocer {
    width: 30%;
    margin-left: -101px;
  }
}
